[submodule "back_end/08-TypeScript/Dia01/exercicio/sd-027-b-exercise-trybe-crafts"]
	path = back_end/08-TypeScript/Dia01/exercicio/sd-027-b-exercise-trybe-crafts
	url = https://github.com/tryber/sd-027-b-exercise-mercadinho-do-sr-scott/pull/4
